main {
    padding: 20px 0;
}

section {
    margin-bottom: 100px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    color: blueviolet;
    font-family: 'Montserrat', sans-serif;
}

.item {
    flex: 2;
    margin: 10px;
    width: 100%;
}

form textarea{
    width: 100%;
}